ros2_ws

install/
log/
build/

.cache/
.config/
.gazebo/
.ignition/
.ros/
.rviz2/
.sdformat/
core*
.sudo_as_admin_successful
.profile

# Ignore bash files
.bash*

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# IDE
.vscode/
.idea/
.devcontainer/

.Xauthority

ros2_ws/
ros_ws/

temp/

data/

.claude_container

.micromamba_container/
.local_container/

.miniconda3_container/

# Local external GELLO checkout mounted into Docker; do not track as a submodule.
gello_software/
